@{ 
    ViewBag.Title = "Acesso Negado";
    Layout = "_ManagementLayout";
}
    <div class="text-center">
        <div class="text-danger">
            <h1>Acesso Negado</h1>
            <h6>Você não tem permissão para acessar essa página</h6>
            <img src="~/images/accessDenied.png" style="width:300px; height:300px" />
        </div>
    </div>

