@model CreateRoleViewModel
@{
    ViewBag.Title = "Criar Nova Função";
    Layout = "_ManagementLayout";
}

<h1>Criar Nova Função</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Criar</button>
            <a asp-action="ListRoles" class="btn btn-primary">Voltar</a>
        </form>
    </div>
</div>
